{% extends 'layout.html' %}
{% block body %}
    <table>
        <tr>
            <th>
                List of Operations
            </th>
        </tr>
        <tr>
            <td>
                Issue a Purchase
            </td>
        </tr>
        <tr>
            <td>
                <a href="add_product_html" >Click here add product</a>
            </td>
        </tr>
        <tr>
            <td>
                Today's overview
            </td>
        </tr>
        <tr>
            <td>
                <a href="send_mail_all_html" >Click here to send promotional emails</a>
            </td>
        </tr>
        <tr>
            <td>
                <a herf="admin_purchase">See purchase history</a>
            </td>
        </tr>
        <tr>
            <td>
                Change Homepage
            </td>
        </tr>
        

        
    </table>




{% endblock %}