<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
  <style>
    .body {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1%;
    }
  </style>
  <title> {% block title%} Home {% endblock %} </title>
</head>

<body>
  <div id="navigationbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        
          <a class="navbar-brand" href="/">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Tech Bangladesh
          </a>
        
        

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.google.com/">DEMO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.products',category = 'laptop')}}">Laptops</a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('main.products',category = 'tablet')}}">Tablets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.products',category = 'phone')}}">Phones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PC</a>
            </li>
            <li class="nav_item">

              <a class="nav-link" href="/login">Login</a>
            </li>

          </ul>

          <form method="post" class="d-flex" action="{{ url_for('searching.search')}}" id="searchform">
            <input class="form-control me-2" list="datalist" type="text" placeholder="Search" aria-label="Search"
              name="keyword" id="searchvalue">

          

            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>



  <div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1055;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show shadow" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

    {% block body %}
    
    {% endblock %}
  
    <footer class="bg-dark text-white mt-auto pt-4 pb-3">
      <div class="container">
        <div class="row">
    
          <!-- Company Info -->
          <div class="col-md-4 mb-4">
            <h5>Tech Bangladesh</h5>
            <p>Your trusted source for top-quality electronics and unbeatable tech deals.</p>
          </div>
    
          <!-- Newsletter Form -->
          <div class="col-md-4 mb-4">
            <h5>Subscribe</h5>
            <form class="d-flex flex-column">
              <input type="email" class="form-control mb-2" placeholder="Enter your email" required>
              <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
            </form>
          </div>
    
          <!-- Quick Links -->
          <div class="col-md-4 mb-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li><a href="/products" class="text-white text-decoration-none">Shop</a></li>
              <li><a href="/about" class="text-white text-decoration-none">About</a></li>
              <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
            </ul>
          </div>
    
        </div>
    
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-start">
            <p class="mb-0">© 2025 Tech Bangladesh. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </footer>
    

    
    
    <div>
<style>
    #navigationbar{
      background-color: black;
      background: black;
    }
  
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

</style>

<script>
  window.setTimeout(function () {
    const alerts = document.querySelectorAll('#alert-container .alert');
    alerts.forEach(function (alert) {

      alert.classList.remove('show');
      alert.classList.add('fade');

    
      setTimeout(() => {
        alert.remove();
      }, 500);
    });
  }, 5000);

  //   document.getElementById("searchform").addEventListener("submit",function(event){
  //     event.preventDefault();
  //     const keyword = document.getElementById("searchvalue");
  //     fetch("/api/search",{
  //       method : 'GET',
  //       headers : {
  //       'Content-Type':'application/json'
  //       },
  //       body : JSON.stringify({ keyword: keyword})
  //     })
  //     .then(response => response.json())
  //     .then(data => {
  //       console.log("success",data)
  //     })
  //       .catch(error => {
  //         console.error('Error:', error);
  //         console.log("failure");
  //         window.location.href = data.redirect_url;
  //       }
  //     )
  //   }
  // );
    


</script>


</body>

</html>