{% extends 'layout.html' %}

{% block body %}

    
    <style>
        td{
            border: 1px solid green;
        }
    </style>

    <div class="container">
        <div class="row">
            <h2>
                Hi {{ current_user.name }}, Welcome!!!
            </h2>
        </div>

    </div>
    <div class="container">

    <h2 class="">
        Your Cart
    </h2>

    {% if not cart_items %}

    <p class="lead">You have nothing in your cart</p>
    {% else %}
    <table class="table">
        <tr class="table-primary">
            <td class="table-primary ">
                Product Name
            </td>
            <td class="table-primary">
                Quantity
            </td>
            <td class="table-primary">
                Price
            </td>
            <td class="table-primary">
                Action
            </td>
        </tr>
        

        {% for item in cart_items %}
            <tr class="table-primary" id="cart-item-{{item.id}}">
                <td class="table-primary ">
                    {{ item.product.name }}
                </td>
                <td class="table-primary ">
                    <p class="quantity_value{{item.id}}">{{ item.quantity }}</p>

                    <form method="post" action="/api/addquantity" class="quantity1">
                        <input name="item_id" value="{{item.id}}" type="hidden" class="quantity_value">
                        <button type="submit">Add More</button>

                    </form>
                    {% if item.quantity > 1 %}
                    <form method="post" action="/api/decreasequantity" class="quantity2">
                        <input name="item_id" value="{{item.id}}" type="hidden" class="quantity_value">
                        <button type="submit">Decrease</button>
                    </form>
                    {% else %}
                    
                        <button  >Decrease</button>
                   
                    {% endif %}

                </td>
                <td class="table-primary">
                    {{ item.product.price }}
                </td>
                <td class="table-primary" style="display: flex;">
                    <form method="post" action="/checkout">
                        <input name="item_id" value="{{ item.id }}" type="hidden">
                        
                        <button  type="submit">Buy</button>
                    </form>
                    <form method="post" action="/api/remove_from_cart" class="removefromcart">
                        <input name="item_id" value="{{ item.id }}" type="hidden" class="item_id">
                        <button  type="submit" >Remove</button>
                    </form>
                </td>
            </tr>
        
    {% endfor %}
    <tr>
        <td colspan="3">Total</td>
        <td>{{ total }}</td>
    </tr>
    </table>
    
    {% endif  %}

</div>
<div class="container">
    <h2>
        Your Purchase History
    </h2>

    {% if not purchases %}

    <p>You have no purchase history.</p>
    {% else %}
    <table class="table">
        <tr class="table-primary">
            <td class="table-primary ">
                Product Name
            </td>
            <td class="table-primary">
                Quantity
            </td>
            <td class="table-primary">
                Total Price
            </td>
            <td class="table-primary">
                Date
            </td>
            <td class="table-primary">
                Time
            </td>
        </tr>
        

        {% for item in purchases %}
            <tr class="table-primary">
                <td class="table-primary ">
                    {{ item.product.name }}
                </td>
                
                <td class="table-primary">
                    {{ item.quantity }}
                </td>
                <td class="table-primary">
                    {{ item.quantity * item.product.price}}
                </td>
                <td class="table-primary">
                    {{ item.time.date() }} 
                </td>
                <td class="table-primary">
                    {{ item.time.time() }} 
                </td>
            </tr>
        
    {% endfor %}
    
    <table>
    {% endif  %}

</div>


<div>
<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Log Out
    </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/logout">
        <button  class="btn btn-primary" type="submit">Logout</button>
    </form>
    
      </div>
    </div>
  </div>


</div>

<script>
    document.querySelectorAll(".removefromcart").forEach(form =>{
        form.addEventListener("submit",function(event){
            event.preventDefault();

            const item_id= this.querySelector(".item_id").value;
            console.log(item_id);
            fetch("/api/remove_from_cart",{
                method :'POST',
                headers:{
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({item_id : item_id})
            })
            .then(response => response.json())
            .then (data=>{
                console.log("success",data);
                
                    const row = document.getElementById("cart-item-"+item_id);
                    if(row) row.remove();
                
                    console.error("Failed to remove item:", data.message || "Unknown error");
                
            })
            .catch(error => console.error('Error : ',error));
            
        });
    })                 

    document.querySelectorAll('.quantity1').forEach(form => {
        form.addEventListener("submit",function(event){
            event.preventDefault();
            const item_id= this.querySelector(".quantity_value").value;
            console.log(item_id);

            fetch("/api/addquantity",{
                method :'POST',
                headers:{
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({item_id : item_id})
            })
            .then(response => response.json())
            .then (data=>{
                console.log("success",data);
                const temp = document.querySelector(".quantity_value"+item_id);
                console.log(temp);
                temp.textContent=data.quantity;
            })
            .catch(error => console.error('Error : ',error));
    
        });

    })

    document.querySelectorAll('.quantity2').forEach(form => {
        form.addEventListener("submit",function(event){
            event.preventDefault();
            const item_id= this.querySelector(".quantity_value").value;
            console.log(item_id);
            fetch("/api/decreasequantity",{
                method :'POST',
                headers:{
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({item_id : item_id})
            })
            .then(response => response.json())
            .then (data=>{
                console.log("success",data);
                const temp = document.querySelector(".quantity_value"+item_id);
                console.log(temp);
                temp.textContent=data.quantity;
            })
            .catch(error => console.error('Error : ',error));
    
        });

    })
    
    
</script>

{% endblock %}