{% extends 'layout.html' %}
{% block body %}
<form action="/add_product" method="post" enctype="multipart/form-data">


    <table align="center">
        <tr>
            <td>
                <label for="name">Product Name</label>
            </td>
            <td>
                <input type="text" name="name">

            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Product Description</label>
            </td>
            <td>
                <input type="text" name="description">
            </td>
        </tr>
        <tr>
            <td>
                <label for="price"> Price</label>
            </td>
            <td>
                <input type="text" name="price">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">Stock</label>
            </td>
            <td>
                <input type="text" name="stock">
            </td>
        </tr>
        <tr>
            <td>
                <label for="category">Category</label>
            </td>
            <td>
                <input type="radio" name="category" value="phone"> Phone
                <input type="radio" name="category" value="laptop"> Laptop
                <input type="radio" name="category" value="tablet">Tablet
                <input type="radio" name="category" value="pc"> PC
                <input type="radio" name="category" value="accecories">Accecories
            </td>
        </tr>
        <tr>
            <td>
                <label for="file">image</label>
            </td>
            <td>
                <input type="file" name="file">
            </td>
        </tr>
        <tr><td><input type="submit"></td></tr>
    </table>

</form>

{% endblock %}