{% extends 'layout.html' %}
{% block body %}
<form action="/add_product" method="post" enctype="multipart/form-data">


    <table align="center">
        <tr>
            <td>
                <label for="name">Product Name</label>
            </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Product Description</label>
            </td>
            <td>
                <input type="text" name="description">
            </td>
        </tr>
        <tr>
            <td>
                <label for="price"> Price</label>
            </td>
            <td>
                <input type="text" name="price">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">Stock</label>
            </td>
            <td>
                <input type="text" name="stock">
            </td>
        </tr>
        <tr>
            <td>
                <label for="category">Category</label>
            </td>
            <td>
                <input type="radio" name="category" value="phone"> Phone
                <input type="radio" name="category" value="laptop"> Laptop
                <input type="radio" name="category" value="tablet">Tablet
                <input type="radio" name="category" value="accecories">Accecories
            </td>
        </tr>

        <tr>

            <td>
                <label for="stock">Dimensions</label>
            </td>
            <td>
                <input type="text" name="dimensions">
            </td>
        </tr>

        <tr>

            <td>
                <label for="stock">Weight</label>
            </td>
            <td>
                <input type="text" name="weight">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">Build Material</label>
            </td>
            <td>
                <input type="text" name="build_material">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">Chipset</label>
            </td>
            <td>
                <input type="text" name="chipset">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">GPU</label>
            </td>
            <td>
                <input type="text" name="gpu">
            </td>
        </tr>

        <tr>

            <td>
                <label for="ram">RAM</label>
            </td>
            <td>
                <input type="text" name="ram">
            </td>
        </tr>
        <tr>

            <td>
                <label for="storage">Storage</label>
            </td>
            <td>
                <input type="text" name="storage">
            </td>
        </tr>
        <tr>

            <td>
                <label for="stock">Storage Type</label>
            </td>
            <td>
                <input type="text" name="storage_type">
            </td>
        </tr>



        <tr>
            <td>
                <label for="file">image</label>
            </td>
            <td>
                <input type="file" name="file">
            </td>
        </tr>
        <tr><td><input type="submit"></td></tr>
    </table>

</form>

{% endblock %}