{% extends 'layout.html' %}
{% block body %}
    <table>
        <tr>
            <th>
                List of Operations
            </th>
        </tr>
        <tr>
            <td>
                Issue a Purchase
            </td>
        </tr>
        <tr>
            <td>
                Add New Product
            </td>
        </tr>
        <tr>
            <td>
                Today's overview
            </td>
        </tr>
        <tr>
            <td>
                Send promotional Email
            </td>
        </tr>
        <tr>
            <td>
                See purchase history
            </td>
        </tr>
        
    </table>




{% endblock %}