{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="row">

       
        <div class="col-8">

        
{% for item in products %}

    <div class="col-">
        <div class="card">
            <img src="..." class="card-img-top" alt="notheim" >
            <div class="card-body">
                <h5 class="card-title"> {{ item.name }}</h5>
                <p class="card-text"> {{ item.description }}</p>
                <a href="#" class="btn btn-primary"> {{item.price}}</a>
            </div>
        </div>
    </div>

        {% endfor %}
    </div>
</div>
    </div>
</div>

      
        {% endblock %}