{% extends 'layout.html' %}

{% block body %}

<style>
    .card img{
        width: 100%; /* Makes image responsive */
         /* Set a max width to keep size controlled */
        height: auto; /* Maintain aspect ratio */
        aspect-ratio: 16/9; /* Ensures all images have the same proportion */
        object-fit: cover; /* Prevents distortion */
        /* Centers images */
        
    }
    .card-body{
        object-fit: cover;
        
    }
</style>

<div class="container">
    <div class="row">
        

        
{% for item in products %}


    <div class="col-md-3" id="cardstyle">
        <div class="card" width = "18 rem">
            <img src="{{ url_for('addproduct.uploaded_file',filename=item.image.split('/')[-1]) }}" class="card-img-top" alt="notheim" >
            <div class="card-body">
                <h5 class="card-title"> {{ item.name }}</h5>
                <p class="card-text"> {{ item.price }}</p>
                
                <form action="addtocart" method="post">
                    <a href="{{url_for('main.product', id =item.id)}}" class="btn btn-primary">Check Details</a>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                    <input type="hidden" value="{{item.id}}" name="product_id">
                </form>

            </div>
        </div>
    </div>
    

        {% endfor %}
    </div>
</div>
    </div>
</div>

      <style>
        #cardstyle{
            padding: 10px 10px 10px 10px;
        }
      </style>
        {% endblock %}