{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row">
        

        
{% for item in products %}


        <div class="col-md-4" id="cardstyle">
        <div class="card" width = "18 rem">
            <img src="{{ url_for('addproduct.uploaded_file',filename=item.image.split('/')[-1]) }}" class="card-img-top" alt="notheim" >
            <div class="card-body">
                <h5 class="card-title"> {{ item.name }}</h5>
                <p class="card-text"> {{ item.description }}</p>
                <a href="#" class="btn btn-primary"> {{item.price}}</a>
            </div>
        </div>
    </div>
    

        {% endfor %}
    </div>
</div>
    </div>
</div>

      <style>
        #cardstyle{
            padding: 10px 10px 10px 10px;
        }
      </style>
        {% endblock %}