{% extends 'layout.html' %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    
            {% for category, message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}
                
    {% endif %}
    {% endwith %}
    <style>
        td{
            border: 1px solid black;
        }
    </style>



    <div class="container">
        <div class="row">
            <h2>
                Hi {{ username }}, Welcome!!!
            </h2>
        </div>

    </div>
    

    <h2>
        Your Cart
    </h2>

    <table class="table">
        <tr class="table-primary">
            <td class="table-primary ">
                Product Name
            </td>
            <td class="table-primary">
                Quantity
            </td>
            <td class="table-primary">
                Price
            </td>
            <td class="table-primary">
                Action
            </td>
        </tr>
        {% for item in cart_items %}
            <tr class="table-primary">
                <td class="table-primary ">
                    {{ item.product.name }}
                </td>
                <td class="table-primary">
                    {{ item.quantity }}

                    <form method="post" action="addquantity">
                        <input name="item_id" value="{{item.id}}" type="hidden">
                        <button type="submit">Add More</button>
                    </form>
                    {% if item.quantity > 1 %}
                    <form method="post" action="decreasequantity">
                        <input name="item_id" value="{{item.id}}" type="hidden">
                        <button type="submit">Decrease</button>
                    </form>
                    {% else %}
                    
                        <button  >Decrease</button>
                   
                    {% endif %}

                </td>
                <td class="table-primary">
                    {{ item.product.price }}
                </td>
                <td class="table-primary" style="display: flex;">
                    <a href="#" style="margin-right: 10px;">Buy Now</a>
                    <form method="post" action="/removefromcart">
                        <input name="item_id" value=" {{ item.id }} " type="hidden">
                        <button  type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        
    {% endfor %}
    <tr>
        <td colspan="3">Total</td>
        <td>{{ total }}</td>
    </tr>
    </table>
    


    <form action="/logout">
    <button type="submit">Logout</button>
    
    </form>
    <script>
        
    </script>
    <style>
        
    </style>
{% endblock %}