{% extends 'layout.html' %}
{% block body %}





    <div class="container">
        <div class="row">
            <h2>
                Hi {{ username }}, Welcome!!!
            </h2>
        </div>

    </div>

    

    <h2>
        Your Cart
    </h2>
    <table border="1px">
        {% for item in cart_items %}
            <tr border="1">
                <td>
                    <p>{{ item.product.name }}</p>
                </td>
                <td>
                    <p>{{ item.quantity }}</p>
                </td>
            </tr>

    {% endfor %}
    </table>
    


    <form action="/logout">
    <button type="submit">Logout</button>
    
    </form>


{% endblock %}